.features{
    margin-top: 50px;

    &1 {
        text-align: center;

        img {
            margin-bottom: 1rem;
        }

        h4 {
            margin-bottom: 1rem;
        }

        p{
            color: #999999;
        }
    }
}