.cart{
    .grs{
        margin-top: 20px ;
    }

    .metode{
        background: white;
        border-radius: 10px;
        padding: 30px;
        margin-left: 20px;

        .p{
            color: #929292;
            margin-top: 10px;
        }
    }
}