.navbar {
    background: #f5f6f8 !important;
    .navbar-brand {
        color: $primary-color;
    }

    form {
        .input-group {
            width: 400px;

            input {
                padding: 10px 14px;
                border-right: none;

                &:placeholder-shown {
                    font-size: 12px;
                }
            }

            .input-group-text {
                background: #FFFFFF;
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                margin-top: 1rem;
            }
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                position: relative;

                i {
                    color: grey;
                    font-size: 24px;
                }

                .badge {
                    background-color: #FE1818;
                    color: #ffffff;
                    border-radius: 50%;

                    position: absolute;
                    top: 0;
                    right: 0;
                }

                img {
                    width: 33px;
                    height: 33px;
                    border-radius: 50%;
                }
            }
        }
    }
}