.container{
    
    .background{
    background: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    .table{
        td{
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    .bayar{
        text-decoration: none;
        padding: 8px;
    }
    }
}
